In [2]:
import pandas as pd
data = pd.read_csv('stock_report.csv', on_bad_lines='skip')

In [8]:
data.tail(5)

,Activity Date,Process Date,Settle Date,Instrument,Description,Trans Code,Quantity,Price,Amount
118,6/10/2024,6/10/2024,6/11/2024,SNOW,Snowflake\nCUSIP: 833445109,Buy,0.000692,$129.88,($0.09)
119,6/10/2024,6/10/2024,6/11/2024,SNOW,Snowflake\nCUSIP: 833445109,Buy,0.153268,$129.88,($19.91)
120,6/10/2024,6/10/2024,6/10/2024,TSLA,Tesla\nCUSIP: 88160R101,REC,0.030300,NaN,NaN
121,6/10/2024,6/10/2024,6/11/2024,NaN,ACH Deposit,ACH,NaN,NaN,$100.00
122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
stocks = list(data['Instrument'].value_counts().to_dict().keys())

In [10]:
data = data[data['Instrument'] == 'F']

In [12]:
selected_columns = data[['Instrument', 'Trans Code', 'Quantity', 'Price']]
selected_columns

    index Instrument Trans Code  Quantity   Price
0       4          F        Buy       3.0   $9.79
1       5          F        Buy       2.0   $9.77
2       6          F        Buy       2.0   $9.76
3      14          F        Buy       2.0   $9.78
4      19          F        Buy       1.0  $10.88
5      23          F        Buy       1.0  $10.98
6      27          F        Buy       2.0  $11.31
7      28          F        Buy       1.0  $11.23
8      31          F        Buy       1.0  $11.36
9      33          F        Buy       2.0  $11.78
10    101          F       Sell       6.0  $12.20
11    108          F        Buy       6.0  $11.87